@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply overflow-x-hidden font-body;
}
header {
  @apply !max-w-[1340px] mx-auto px-4;
}
.dash-header header {
  @apply !max-w-[1340px] mx-auto px-4 !justify-center;
}
section {
  @apply my-12;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  @apply bg-background;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/40;
}

/*  */
.tablee::-webkit-scrollbar {
  height: 7.5px;
  width: 7.5px;
}

.tablee::-webkit-scrollbar-track {
  @apply bg-gray-600;
}

/* Handle */
.tablee::-webkit-scrollbar-thumb {
  @apply bg-gray-900 rounded-md;
}

/* Handle on hover */
.tablee::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-background;
}
.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  @apply !bg-primary !opacity-50;
}

/* Add this CSS in your styles file */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


.bg-content1{
  background-color: #030712 !important;
}
 